{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding h5 {
    margin-bottom: 2rem;
  }

  .section-{{ section.id }}-padding .content_table {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.08);
  }
  .section-{{ section.id }}-padding .content_table > table {
    margin-bottom: 8rem;
  }
  .section-{{ section.id }}-padding .content_table td {
    width: 50%;
    padding: 16px 0;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='color-{{ section.settings.color_scheme }} gradient'>
  <div class='page-width isolate scroll-trigger animate--slide-in section-{{ section.id }}-padding twcss-grid twcss-gap-32'>
    {%- if section.settings.heading != blank -%}
      <h2 class='title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class='visually-hidden'>{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}

    {%- for table in section.blocks -%}
      <div class='content_table'>
        <h5>{{ table.settings.title }}</h5>
        <table class='twcss-table-auto twcss-w-full'>
          <tr>
            <td><p>{{ table.settings.row1_label }}</p></td>
            <td><p>{{ table.settings.row1_value }}</p></td>
          </tr>
          <tr>
            <td><p>{{ table.settings.row2_label }}</p></td>
            <td><p>{{ table.settings.row2_value }}</p></td>
          </tr>
          <tr>
            <td><p>{{ table.settings.row3_label }}</p></td>
            <td><p>{{ table.settings.row3_value }}</p></td>
          </tr>
          <!-- Weitere Zeilen können hier hinzugefügt werden -->
        </table>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "CHUCK Tabelle",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "table",
      "name": "Tabelle",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tabellen Titel",
          "default": "Gitarren-Eingang"
        },
        {
          "type": "text",
          "id": "row1_label",
          "label": "Zeile 1 Label",
          "default": "Typ"
        },
        {
          "type": "text",
          "id": "row1_value",
          "label": "Zeile 1 Wert",
          "default": "6.35mm Klinkenbuchse unsymm."
        },
        {
          "type": "text",
          "id": "row2_label",
          "label": "Zeile 2 Label",
          "default": "Impedanz"
        },
        {
          "type": "text",
          "id": "row2_value",
          "label": "Zeile 2 Wert",
          "default": "1 MOhm"
        },
        {
          "type": "text",
          "id": "row3_label",
          "label": "Zeile 3 Label",
          "default": "Eingangspegel max."
        },
        {
          "type": "text",
          "id": "row3_value",
          "label": "Zeile 3 Wert",
          "default": "12 dBu"
        }
        // Weitere Zeilen können bei Bedarf hinzugefügt werden
      ]
    }
  ],
  "presets": [
    {
      "name": "CHUCK Tabelle"
    }
  ]
}
{% endschema %}
