{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='color-{{ section.settings.color_scheme }} gradient'>
  <div class='page-width isolate scroll-trigger animate--slide-in section-{{ section.id }}-padding twcss-grid'>
    {%- if section.settings.heading != blank -%}
      <h2 class='title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}

    <div
      class='twcss-relative twcss-flex twcss-aspect-[9/16] twcss-w-2/5 twcss-shrink-0 twcss-snap-start twcss-scroll-ml-[var(--scroll-padding)] twcss-flex-col twcss-justify-end twcss-overflow-hidden twcss-rounded-3xl sm:twcss-aspect-[3/4] sm:twcss-w-96'
    >
      <img
        alt=''
        width='auto'
        height='auto'
        src='https://img.freepik.com/fotos-kostenlos/portraet-eines-schoenen-jungen-maedchens-in-weissem-t-shirt-das-isoliert-ueber-rosa-studiohintergrund-in-die-kamera-blickt_155003-46555.jpg'
        class='twcss-absolute twcss-inset-x-0 twcss-top-0 twcss-aspect-square twcss-w-full twcss-object-cover'
      >
      <div
        aria-hidden='true'
        class='twcss-absolute twcss-inset-0 twcss-rounded-3xl twcss-bg-gradient-to-t twcss-from-terra twcss-from-[calc(7/16*100%)] twcss-ring-1 twcss-ring-inset twcss-ring-wintermorgen sm:twcss-from-25%'
      ></div>
      <figure class='twcss-relative twcss-p-10'>
        <blockquote>
          <p class='twcss-relative twcss-text-xl/7 twcss-text-white'>
            <span aria-hidden='true' class='twcss-absolute -twcss-translate-x-full'>“</span>Thanks to Radiant, we’re
            finding new leads that we never would have found with legal methods.<span
              aria-hidden='true'
              class='twcss-absolute'
              >”</span
            >
          </p>
        </blockquote>
        <figcaption class='twcss-mt-6 twcss-border-t twcss-border-white/20 twcss-pt-6'>
          <p class='twcss-text-sm/6 twcss-font-medium twcss-text-white'>Tina Yards</p>
          <p class='twcss-text-sm/6 twcss-font-medium'>
            <span class='twcss-bg-gradient-to-r twcss-from-[#fff1be] twcss-from-[28%] twcss-via-[#ee87cb] twcss-via-[70%] twcss-to-[#b060ff] twcss-bg-clip-text twcss-text-transparent'
              >VP of Sales, Protocol</span
            >
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider"
    }
  ]
}
{% endschema %}
