{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between; /* Nutzt die gesamte Breite aus */
    align-items: flex-start;
  }

  .video-item {
    position: relative;
    flex: 1 1 calc(33.333% - 16px); /* Drei Videos pro Reihe */
    aspect-ratio: 4/6; /* Breitbild-Seitenverhältnis */
    overflow: hidden;
    border-radius: 16px;
    background: #000;
    max-width: calc(33.333% - 16px);
    cursor: pointer;
  }

  @media screen and (max-width: 750px) {
    .video-item {
      flex: 1 1 calc(100% - 16px); /* Ein Video pro Reihe bei kleineren Bildschirmen */
      max-width: calc(100% - 16px);
    }
  }

  .video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Video wird standardmäßig versteckt */
  }

  .video-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
{%- endstyle -%}

<div class="full-width-narrow color-{{ section.settings.color_scheme }} gradient">
  <div class="isolate scroll-trigger animate--slide-in section-{{ section.id }}-padding">
    <div class="video-list">
      {% for block in section.blocks %}
        <div class="video-item">
          
    <deferred-media
      class='video-section__media deferred-media gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
      data-media-id='{{ video_id }}'
      {% if poster != null %}
        style='--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;'
      {% endif %}
    >
      <button
        id='Deferred-Poster-Modal-{{ video_id }}'
        class='video-section__poster media deferred-media__poster media--landscape'
        type='button'
        aria-label='{{ alt }}'
      >
        {%- if poster != null -%}
          {{
            poster
            | image_url: width: 3840
            | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
          }}
        {%- else -%}
          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class='deferred-media__poster-button motion-reduce'>
          {%- render 'icon-play' -%}
        </span>
      </button>
      <template>
      </template>
      </deferred-media>
          
          {%- if block.settings.cover_image != blank -%}
            <span class='deferred-media__poster-button motion-reduce'>
              {%- render 'icon-play' -%}
            </span>
            <img src="{{ block.settings.cover_image | image_url: width: 1280  }}" alt="Video Vorschaubild" width="100%" height="100%">
          {%- endif -%}
          {%- if block.settings.video != blank -%}
            {{
              block.settings.video
              | video_tag: autoplay: false, controls: true, loop: true, muted: false, preload: "metadata"
            }}
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function playVideo(videoItem) {
    const img = videoItem.querySelector('img');
    const video = videoItem.querySelector('video');

    if (img) {
      img.style.display = 'none';
    }
    if (video) {
      video.style.display = 'block';
      video.play();
    }
  }
</script>

{% schema %}
{
  "name": "Video-Liste",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Farbschema",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "Abstand oben",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "Abstand unten",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video hochladen"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "Coverbild für Vorschau"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video-Liste"
    }
  ]
}
{% endschema %}
